<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Ring of Fire</title>
    <link rel="icon" type="image/x-icon" href="static/favicon.ico" />
    <script src="http://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <script src="https://browser.sentry-cdn.com/5.15.4/bundle.min.js" integrity="sha384-Nrg+xiw+qRl3grVrxJtWazjeZmUwoSt0FAVsbthlJ5OMpx0G08bqIq3b/v0hPjhB" crossorigin="anonymous"></script>
    <script type="text/javascript" src="static/ringoffire.js?st={{st}}"></script>
  </head>
  <body style="background: black; text-align: center">
    <canvas id="canvas"></canvas>
    <div id="controls" style="text-align: center; margin: auto">
      <button onclick="if (window.confirm('Are you sure you want to restart?')) {startUp(); emitCardsUpdate();}">Restart game</button>
      <button onclick="clearFaceUpCards(); emitCardsUpdate();">Clear flipped cards</button>
      <button onclick="scatterCards(); emitCardsUpdate();">Scatter cards</button>
    </div>
  </body>
</html>
